html {
    position: relative;
}

body {
    margin-bottom: 300px;
    margin-top: -30px;
}
.navbar-brand {
    margin-top: -20px;
    font-size: 1.5rem;
    margin-bottom: -25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.nav-item {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 1.5rem;
}
.home img {
    width: 100%;
    height: 650px;
}

.featur img {
    margin-top: 30px;
    width: 25%;
    height: 60px;
}
.featur .card-title {
    margin-top: 10px;
}
.about {
    margin-top: 100px;
}
.about h5 {
    margin-top: 15px;
}
.about svg {
    margin-bottom: -80px;
}

section {
    padding-top: 5rem;
}
.product h1 {
    background-color: #3b5045;
}
.product h3 {
    margin-top: 30px;
}
.product img {
    margin-top: 40px;
}
.product button {
    margin-top: 20px;
}
.card-img-overlay {
    margin-top: 170px;
}
.text0 {
    color: thistle;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 50px;
}
.text {
    color: thistle;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.text1 {
    text-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
    outline-color: black;
    margin-top: -150px;
    color: rgb(15, 122, 117);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
}
.text2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
    color: rgba(228, 226, 115, 0.89);
    margin-top: 250px;
}
.team {
    margin-top: 120px;
    min-height: 350px;
}
.team img {
    margin-top: 20px;
    width: 80%;
}
.team h4 {
    margin-top: 30px;
}
.team svg {
    margin-bottom: -80px;
}
.latar {
    background-color: #3b5045;
}
.contact {
    background-color: #86b19b;
    min-height: 700px;
}
footer {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    background-color: #3b5045;
    margin-top: 100px;
}
.text3 {
    margin-top: 30px;
}
.googleMap {
    margin-bottom: 50px;
    width: 100%;
    height: 450px;
    margin-top: 30px;
}
