html {
    position: relative;
}

body {
    margin-bottom: 50px;
    margin-top: -90px;
}

/* Loading */
.overlay {
    z-index: 999999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}
@keyframes ldio-e49il0u02oj-o {
    0% {
        opacity: 1;
        transform: translate(0 0);
    }
    49.99% {
        opacity: 1;
        transform: translate(55.16px, 0);
    }
    50% {
        opacity: 0;
        transform: translate(55.16px, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}
@keyframes ldio-e49il0u02oj {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(55.16px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
.ldio-e49il0u02oj div {
    position: absolute;
    width: 55.16px;
    height: 55.16px;
    border-radius: 50%;
    top: 70.92px;
    left: 43.339999999999996px;
}
.ldio-e49il0u02oj div:nth-child(1) {
    background: #175608;
    animation: ldio-e49il0u02oj 1.2048192771084336s linear infinite;
    animation-delay: -0.6024096385542168s;
}
.ldio-e49il0u02oj div:nth-child(2) {
    background: #c39651;
    animation: ldio-e49il0u02oj 1.2048192771084336s linear infinite;
    animation-delay: 0s;
}
.ldio-e49il0u02oj div:nth-child(3) {
    background: #175608;
    animation: ldio-e49il0u02oj-o 1.2048192771084336s linear infinite;
    animation-delay: -0.6024096385542168s;
}
.loadingio-spinner-dual-ball-v5gnduskd6 {
    width: 197px;
    height: 197px;
    display: inline-block;
    overflow: hidden;
    margin-top: 20%;
}
.ldio-e49il0u02oj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-e49il0u02oj div {
    box-sizing: content-box;
}
/* Loading End */

.navbar {
    background-color: #3b504581;
}
.navbar .navbar-brand {
    margin-top: -10px;
    font-size: 1.5rem;
    margin-bottom: -25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.navbar .page-scroll {
    color: rgba(202, 201, 118, 0.89);
}
.navbar .page-scroll:hover {
    color: rgba(245, 242, 51, 0.979);
    font-size: 2rem;
}
.navbar li {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 1.5rem;
}
.navbar .navbar-toggler:hover {
    color: rgba(202, 201, 118, 0.89);
}
@media (max-width: 545px) {
    .navbar {
        width: 540px;
    }
    .navbar .navbar-brand {
        width: 50%;
    }
    .navbar .navbar-brand img {
        width: 350px;
    }
}
@media (max-width: 500px) {
    .navbar {
        width: 495px;
    }
    .navbar .navbar-brand {
        width: 50%;
    }
    .navbar .navbar-brand img {
        width: 350px;
    }
}
@media (max-width: 450px) {
    .navbar {
        width: 414px;
    }
    .navbar .navbar-brand {
        width: 50%;
    }
    .navbar .navbar-brand img {
        width: 350px;
    }
}
@media (max-width: 375px) {
    .navbar {
        width: 375px;
    }
    .navbar .navbar-brand {
        width: 50%;
    }
    .navbar .navbar-brand img {
        width: 300px;
    }
}

/* home */
.home img {
    width: 100%;
    height: 600px;
}
.text {
    color: rgb(248, 245, 248);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text0 {
    color: rgb(248, 247, 248);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 50px;
}

.text1 {
    background-color: rgba(243, 247, 243, 0.199);
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.473),
        #4cda0b46
    );

    text-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
    margin-left: 20px;
    margin-top: -70px;
    color: #183f06;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.text2 {
    background-color: #25242048;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgba(202, 201, 118, 0.89);
    margin-top: 230px;
}

.featur .container {
    position: relative;
    width: 10000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 100px;
}

.featur .container .card {
    position: relative;
    height: 250px;
    background: rgba(202, 201, 118, 0.89);
    display: flex;
    width: 45%;
    margin: 25px 0;
}

.featur .container .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3b5045;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.featur .container .card:hover .imgBx {
    width: 160px;
    height: 130px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #3b5045;
}
.featur .container .card .imgBx::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: darkkhaki;
    font-weight: 700;
}
.featur .container .card:hover .imgBx::before {
    content: attr(data-text);
    font-size: 20px;
}
.featur .container .card img {
    width: 300px;
    height: 170px;
    transition: 0, 5s ease-in-out;
}
.featur .container .card:hover img {
    width: 100px;
    height: 80px;
}
.featur .container .card .content {
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featur .container .card .content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.why h1 {
    margin-top: 30px;
    font-weight: bold;
    color: rgba(202, 201, 118, 0.89);
}
.why h2 {
    margin-top: 30px;
    font-weight: bold;
    color: #3b5045;
}

/* Home end */

/* About start */
.about {
    background-color: rgba(202, 201, 118, 0.89);
    margin-top: 140px;
    margin-bottom: -40px;
    min-height: 400px;
}

.about img {
    width: 450px;
    height: 450px;
}
.about h1 {
    font-weight: bold;
}
.about p {
    margin-top: 15px;
}

/* About End */
section {
    padding-top: 5.5rem;
    /* min-height: 800px; */
}

/* product */
.product {
    margin-top: -88px;
}
.product .col-md-12 {
    background-color: #3b5045;
}
.product h1 {
    color: whitesmoke;
    margin-left: 100px;
}
.product h3 {
    color: rgba(202, 201, 118, 0.89);
    margin-top: 30px;
    font-weight: bold;
}
.product p {
    margin-top: 30px;
    margin-left: 10px;
}
.product img {
    margin-top: 40px;
    width: 450px;
    height: 480px;
}
.product a {
    font-family: monospace;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.card-img-overlay {
    margin-top: 170px;
}

/* team */

.team h1 {
    font-weight: bold;
}
.team .team-slide {
    position: relative;
    max-width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transition 70%, #000);
}
.team-slide .swiper-slide {
    width: 300px;
    min-height: 400px;
    margin: 0 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    background: rgba(202, 201, 118, 0.89);
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}
.team-slide .card {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 0px 40px;
    text-align: center;
    overflow: hidden;
}
.team-slide .swiper-slide .card .imgBx img {
    width: 350px;
    margin-left: -40px;
    height: 350px;
}

.team-slide .swiper-slide .card .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(202, 201, 118, 0.89), #3b5045);
    z-index: 1;
    transition: 0.5s;
}
.team-slide .swiper-slide .card:hover .layer {
    top: 0;
    background: #3b504581;
}
.team-slide .swiper-slide .card .content {
    position: relative;
    z-index: 2;
}
.team-slide .swiper-slide .card .content {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    color: white;
    margin: 0 auto 40px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.team-slide .swiper-slide .card .content p {
    margin-top: 150px;
}
/* .team-slide .swiper-slide .card .content {
    width: 35px;
    height: 100px;
    margin: 0 auto 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
} */
.team-slide .details h4 {
    font-size: 25px;
    color: #3b5045;
    text-align: center;
}
.team-slide .details h4 span {
    color: #3b5045;
    font-size: 18px;
    text-align: center;
}

/* .team-slide .swiper-slide .card:hover .details h4 span {
    color: blueviolet;
} */

/* team end */

/* contact */
.latar {
    background-color: #3b5045;
}
.contact {
    color: white;
    margin-top: -90px;
}
.contact .container-fluid {
    background-color: rgba(202, 201, 118, 0.89);
}

.contact .text4 {
    margin-top: 40px;
}
.contact .icon {
    margin-top: -40px;
    margin-bottom: 30px;
}
.googleMap iframe {
    margin-bottom: 50px;
    width: 95%;
    height: 450px;
    margin-top: 40px;
}
footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #3b5045;
    margin-top: 100px;
    color: white;
}
.text3 {
    margin-top: 30px;
}

/* media start */
@media (max-width: 1024px) {
    .featur .container {
        width: 850px;
    }
}
@media (max-width: 991px) {
    .featur .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .featur .container .card {
        width: 400px;
    }
}
@media (max-width: 768px) {
    .featur .container .card {
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
    .featur .container .card .imgBx {
        position: relative;
    }
    .featur .container .card .imgBx,
    .featur .container .card:hover .imgBx {
        width: 100%;
        height: 200px;
        left: 0;
    }
    .featur .container .card .imgBx img,
    .featur .container .card:hover .imgBx img {
        max-width: 100px;
    }
    .featur .container .card .content {
        position: relative;
        width: 100%;
    }
    .about img {
        width: 350px;
        height: 250;
    }
    .product img {
        width: 350px;
        height: 250;
    }
}
@media (max-width: 545px) {
    .featur .container {
        width: 100px;
        flex-direction: column;
        align-items: center;
    }
    .featur .container .card {
        width: 300px;
    }
    .about img {
        margin-bottom: 50px;
    }
}
@media (max-width: 500px) {
    .featur .container {
        width: 100px;
        flex-direction: column;
        align-items: center;
    }
    .featur .container .card {
        width: 250px;
    }
    .about img {
        margin-bottom: 50px;
    }
}
@media (max-width: 415px) {
    .featur .container .card {
        max-width: 200px;
        flex-direction: column;
        height: auto;
    }
    .featur .container .card .imgBx {
        position: relative;
    }
    .featur .container .card .imgBx::before {
        font-size: 30px;
    }
    .featur .container .card .imgBx,
    .featur .container .card:hover .imgBx {
        width: 100%;
        height: 200px;
        left: 0;
    }
    .featur .container .card .imgBx img,
    .featur .container .card:hover .imgBx img {
        max-width: 100px;
    }
    .featur .container .card .content {
        position: relative;
        width: 100%;
    }
    .featur .container .card .content p {
        align-content: center;
        font-size: 14px;
    }
    .about img {
        width: 300px;
        height: 250;
    }
    .product img {
        width: 300px;
        height: 250;
    }
}
/* media end */
